.icons{
	font-size: 15px!important;
}

a {
	color: #6abf58;;
}

a:hover {
	color: #64b664;
}

.btn.btn-success {
	background-color: #6eb76e; 
	border-color: #6eb76e;
}

.required-field {
	color: red;
	font-size: 11px;
}
/*
.btn.btn-info:hover {
	background-color: #6eb76e; 
}*/


/***
	Formatting
***/


.center-text {
	text-align: center;
}